h1 KUNDVAGN
- if session[:username] != nil && 0 
-show.each do |x|
    div #{x["name"]} * #{x["number_items"]} equates to #{x["total_price"]}

div #{@faen}



    

    



form action="/kundvagn" method="POST"
    input type="Submit" Value="Buy" 
    