form class="formclass" action="/skapa_anv" method="POST"
                input type="text" name="usr_name_p" placeholder="Username"
                input type="text" name="usr_pass_p" placeholder="Password"
                input type="Submit" Value="Submit"